<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quiz.title %></title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>
    <h1><%= quiz.title %></h1>
    <p><%= quiz.quiz_description %></p>
    <% if (quiz.questions && quiz.questions.length > 0) { %>
        <!-- <ol>
            <% quiz.questions.forEach(question => { %>
                <li>
                    <%= question.question %>
                    <ul>
                        <% question.options.forEach(option => { %>
                            <li>
                                <%= option.choices %>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ol> -->
    <% } else { %>
        <p>No questions found for this quiz.</p>
    <% } %>
    <button class="quiz-info" onclick="location.href='/quiz/<%= quiz.id %>'">Take Quiz</button>


</body>
</html>

